[2020-10-25 12:32] JoseGoncalves opened #1 "How to listen for map events?"
Hi, thanks for providing components to interact with Google Maps using Vue 3!

Can you please provide an example on how to intercept/handle map events like `zoom_changed` and `center_changed` ?

[2020-10-26 01:36] JoseGoncalves commented on #1
I was able to set this up with the following code:

[code]

Is this the way that you recommend?
Shouldn't be better to hide this setup from the plugin user with custom events setup inside the `GoogleMap` component?

[2020-10-28 21:17] HusamIbrahim commented on #1
Hi @JoseGoncalves,
Glad you found a way to work around this issue but you're right we should expose these events through the `GoogleMap` component. That should be implemented very soon.

[2020-10-28 21:50] JoseGoncalves commented on #1
Hi @HusamIbrahim. Looking forward to have the map events exposed on the `GoogleMap` component.
Meanwhile, I'm currently using a slightly more optimized setup to listen for those events:

[code]

[2020-11-02 12:53] #1 closed

[2020-11-02 13:55] HusamIbrahim commented on #1
This landed in `v0.2.0`.

[2020-11-02 14:44] JoseGoncalves commented on #1
I've tried and works fine. Thanks!

This is my working setup with `v0.2.0`:
[code]

[2020-11-23 00:12] jasonandress opened #4 "Multiple Markers"
Can you have multiple markers on the same map?

[2020-11-23 20:26] HusamIbrahim commented on #4
@jasonandress Yes you can. Are you having trouble with that?

[2020-11-23 23:29] jasonandress commented on #4
@HusamIbrahim no issues, I figured it out. Just add more <Marker> elements.

Can you add an example of setting up an event for the map being repositioned and another example of a Marker being clicked?

[2020-11-24 08:31] HusamIbrahim commented on #4
You're right the docs could make use of more examples. Those will be added in soon.
Please refer to [this comment](https://github.com/inocan-group/vue3-google-map/issues/1#issuecomment-720515083) for an example on map repositioning.

[2020-11-24 08:31] #4 closed

[2020-11-25 01:26] jasonandress opened #5 "Example of Marker Click events"
I need to know what marker was clicked. I've setup a click event on each marker, and it fires the code. Now I need to know what marker was clicked.

<Marker :options="markerOptions1" @click="markerClicked"/>

    const markerClicked = (event: google.maps.MouseEvent) => {
      console.log(event);
    };

event is always undefined.

[2020-11-25 19:04] HusamIbrahim commented on #5
Thanks for bringing that up. We need to expose the underlying event.

[2020-11-25 20:52] jasonandress commented on #5
Thanks for confirming. Do you have plans to do that soon? Thanks

[2020-11-28 16:34] HusamIbrahim commented on #5
This landed in `v0.4.0`.

[2020-11-28 16:34] #5 closed

[2020-12-04 22:12] jasonandress opened #6 "Examples of using v-for with <Marker>"
I've tried a few ways to iterate my array to create several markers without success. Have you had to do this?

I'm looking to confirm this would work and an example. I've tried the below ways and get some awful Vue errors, i.e.  Unhandled error during execution of scheduler flush. This is likely a Vue internals bug. Please open an issue at https://n

Option 1:
<template v-for="location in state.lo

[2020-12-05 23:04] HusamIbrahim commented on #6
@jasonandress Can you provide a reproduction link on jsfiddle or codesandbox?

[2020-12-06 05:31] jasonandress commented on #6
Let's see if this works for you, first time using codesandbox.

https://codesandbox.io/s/sleepy-wozniak-6w9v2?file=/src/App.vue

It works fine when you pre load the array, but once you update the array it throws the error. Press the Click button.

[2020-12-06 16:02] jasonandress commented on #6
I've also added a simple v-for with a div below the map. You can see the array of points is increasing, however the Markers are failing.

[2020-12-07 17:47] jasonandress commented on #6
@HusamIbrahim  have you taken a look yet?

[2020-12-07 23:28] HusamIbrahim commented on #6
Hey thanks for the reproduction link @jasonandress. Will investigate to see why this is happening. Hopefully it's fixable on our end.

[2020-12-10 15:27] maninak opened #7 "How to set `region` and `language`"
We're migrating to vue3 which means we're also migrating from [`vue2-google-maps`](https://www.npmjs.com/package/vue2-google-maps) to `vue3-google-map` (yay!)

In `vue2-google-maps` I could use a [localized map](https://developers.google.com/maps/documentation/javascript/localization) (critical in our use case)

like so:

![image](https://user-images.githubusercontent.com/7542054/101791912-5f513e8

[2020-12-10 20:19] ksnyde commented on #7
Hi @maninak , I can see how that would be desirable to have. If I understand from your link to the localized map it would appear that this would just be a matter of proxying the config from the Vue component to the Google API. Correct? If so the level of effort is probably pretty simple. I personally am completely swamped but @HusamIbrahim may have time to look at this. Alternatively, if you felt

[2020-12-10 20:36] ksnyde commented on #6
Thanks @jasonandress, we'll definitely get this working. Just juggling things between us. If you felt you had a handle on how this should be fixed we're also open to PRs.

[2020-12-13 00:28] JoseGoncalves commented on #7
Just added 2 PRs to support map localization; https://github.com/inocan-group/connect-google-maps/pull/1 & https://github.com/inocan-group/vue3-google-map/pull/8

[2020-12-14 16:13] #7 closed

[2020-12-14 21:56] maninak commented on #7
Thank you @joseGon

[2020-12-15 22:01] HusamIbrahim commented on #7
This landed in `v0.5.0`. You can now set the `region` and `languauge` props on the `GoogleMap` component.

[2020-12-24 15:03] insology opened #9 "Can't have multiple GoogleMap components"
Hello,

if i add more that one GoogleMap component in my component i have the error
TypeError: Cannot destructure property 'maps' of 'undefined' as it is undefined.

Thanks

MM

[2020-12-24 23:42] #9 closed

[2020-12-24 23:50] HusamIbrahim commented on #9
Fixed in `v0.5.1`

[2021-01-04 16:54] JoseGoncalves commented on #6
Any news/workarounds for this issue?

[2021-01-05 09:44] HusamIbrahim commented on #6
Hi @JoseGoncalves. Sorry didn't have the time to work on this but will release a fix in the coming days.

[2021-01-06 08:27] #6 closed

[2021-01-06 08:39] HusamIbrahim commented on #6
Fixed in `v0.5.2`

[2021-01-06 09:37] JoseGoncalves commented on #6
Thanks! I've confirmed that it's now working on my side.

[2021-01-06 17:16] gdbhosale opened #12 "Cluster alike Component"
Hey guys, Thank you for this amazing library. Loved it.

There is a missing component "Cluster" which can make a cluster of Markers or polylines.
That way it's possible to hide/show multiple polylines at once (cluster-wise).

Cluster Example in vue2 library:
https://xkjyeah.github.io/vue-google-maps/all-components.html

As of now, `v-if` isn't a working option (especially when using `v-if` in `v-f

[2021-01-07 08:41] HusamIbrahim commented on #12
Hey @gdbhosale

You're right there's quite a few features missing from the library but unfortunately we don't have much spare time to work on it at the moment.

WRT `v-show` unfortunately that won't work because it relies on Vue adding a style `display: none` to the nodes to be hidden but the map elements are rendered by the Google Maps API and not Vue. `v-if` should work though because it does tr

[2021-01-11 15:48] maninak opened #13 "Since v0.5.2 map is no longer shown, no warnings/errors in console"
Hello,

it seems that there's a regression on [v0.5.2](https://github.com/inocan-group/vue3-google-map/compare/0.5.1...0.5.2). The map isn't rendering any tiles, apparently.

Going back to v0.5.1 the same code renders as expected but, obviously, I won't have the (necessary for me) fix https://github.com/inocan-group/vue3-google-map/pull/11 published in v0.5.2

**Expected:**

![map-expected](https:

[2021-01-12 18:01] maninak opened #14 "Updating `<Marker :options>` prop doesn't render markers"
Hello folks,

Is this a bug or am I using the composition API wrong here (I'm new with it)?

I have a `BaseMap.vue` component which is initially rendered the `[]` as the value of the prop `markers` and when the backend responds that prop is value is updated with a (new) populated array.

Here's my BaseMap.vue:

[code]

and the wrapping component StationsMap.vue:

[code]

**Expectation**:

- Changi

[2021-01-12 20:03] HusamIbrahim commented on #14
Hi @maninak

Thanks for the detailed issue. Can you provide a minimal reproduction example as well? It's rather difficult to pinpoint the source of the problem from the example you provided.

[2021-01-13 10:15] maninak commented on #14
Hey @HusamIbrahim

I've prepared a code-sandbox for you as requested: https://codesandbox.io/s/adoring-chaplygin-w07rm?file=/src/StationsMap.vue

You may need to hit that reload button once if the gmaps api-key won't work first try

![image](https://user-images.githubusercontent.com/7542054/104438560-6bf80500-5590-11eb-8a5b-be86b17039de.png)

On `StationsMap.vue`, line 38 I have a comment. Whateve

[2021-01-18 09:31] gdbhosale commented on #12
Above toggle issue resolved with `v-if` in version `0.5.2`. Thank you !!!

[2021-01-18 09:31] #12 closed

[2021-01-18 18:04] JoseGoncalves opened #15 "Some marker events are missing"
The Marker component does not emit the following events:

* [contextmenu](https://developers.google.com/maps/documentation/javascript/reference/marker#Marker.contextmenu)
* [mouseout](https://developers.google.com/maps/documentation/javascript/reference/marker#Marker.mouseout)

[2021-01-24 21:06] HusamIbrahim commented on #15
Added in `v0.6.0`.

[2021-01-24 21:06] #15 closed

[2021-01-29 15:35] bvnn opened #16 "Search box"
Hello,
I am new in VueJs and I would like to ask that I can use the search box for the maps?
And if yes, how can I use it?
Thanks

[2021-02-01 08:51] HusamIbrahim commented on #16
Hey @bvnn,

If you're referring to the places autocomplete API then unfortunately we don't have a component that implements it currently.

[2021-02-01 15:00] bvnn commented on #16
And How can I use the API?
I checked that: https://vue3-google-map.netlify.app/advanced-usage/
But I can't access the api.

[2021-02-01 20:49] HusamIbrahim commented on #16
Can you share an example or a reproduction link?

[2021-02-01 22:19] gerritvanaaken opened #17 "Changing markers cause flickering"
Maybe this is more like a howto than a bug. If I change the data basis for the markers (the 'stations' Array), all markers shortly disappear before they appear again. This happens even when there is no actual change for the active markers.

At the corresponding list view (with the exact same data basis), Vue does the mutation/merging smoothly (even animated). But on the map, the markers get delete

[2021-02-05 20:42] scottix opened #18 "Handling Language and Region Change"
I am having an issue with the language and region values, when I need to update them to present a different language or region.

Seems like it doesn't like to be loaded again.

![Selection_735](https://user-images.githubusercontent.com/435727/107086604-1984bf80-67af-11eb-857a-a1fbf682f6a1.png)

I understand the problem is loading the script again, not sure the best way to solve it.

[2021-02-10 02:17] HusamIbrahim commented on #18
Hi @scottix,

This coming from [js-api-loader](https://github.com/googlemaps/js-api-loader/blob/master/src/index.ts#L288-L295). I'm not sure if there's anything we can do about it.

[2021-02-10 02:35] HusamIbrahim commented on #17
Hey @gerritvanaaken,

You're right we're currently watching the config/options object for each of these components and destroying then recreating them when the watcher fires. It seems that Vue performs a simple comparison for objects and will fire the watcher even if non of the child properties has changed. Please refer to these:
- [https://github.com/vuejs/vue/issues/5776#issuecomment-304570693](

[2021-02-10 02:54] scottix commented on #18
I haven't tested it but thought of maybe deleting the google singleton and deleting the scrip tag. Looks like this issue has been tossed around here through various issues.

I think I might just force a reload when they change the language for now.

[2021-02-10 23:01] maninak commented on #14
Hey there, folks! Is there any update on this issue? Anything else I can do to help accelerate it?

If somebody could have a look and help me solve this within the next 1-2 weeks, it would be a MASSIVE help!

[2021-02-11 19:35] HusamIbrahim commented on #14
Apologies @maninak this is still pending. I've had a look at the example you provided but the cause of the issue isn't immediately obvious to me and unfortunately I have little time these days for anything other than a quick fix. If you think you can provide a more minimal example that can highlight the issue more clearly please do share.

[2021-02-15 13:34] yangxi518 opened #19 "Consulting is a feature"
Excuse me，when will infowindow be implemented? Thanks！！

[2021-02-15 16:56] stephanedemotte opened #20 "Theme don't work ?"
Hello. i try to use theme but nothing change in the map

I'm using it like this

[code]

I'm doing something wrong or it's a bug ?

Thank !!

[2021-02-16 16:22] HusamIbrahim commented on #19
Unfortunately we've got a few bugs to work through before adding any new features.

[2021-02-16 16:36] yangxi518 commented on #19
Thank you very mach !!!

[2021-02-16 21:59] stephanedemotte commented on #20
Ok got it

[code]

[2021-02-16 21:59] #20 closed

[2021-02-16 22:27] HusamIbrahim commented on #14
@maninak I've had a second look at the sandbox you provided and I'm not sure if it's an accurate representation of your issue. The non-reactivity in the sandbox is due to the use of a normal function for the `setTimeout` callback instead of an arrow function. See this fixed version:
https://codesandbox.io/s/unruffled-bas-j8ly8

[2021-02-16 22:39] HusamIbrahim commented on #13
This is due to the use of the scoped `.base-map` class. Since `v0.5.2` we're painting the map on an internal non-root div of the `GoogleMap` component. It does receive all the `$attrs` so it will receive the class defined in the parent but the class won't be applied correctly due to the scoping. You'll need to either qualify the class with a deep selector or use inline styles instead to avoid the

[2021-02-16 22:39] #13 closed

[2021-02-17 10:23] maninak commented on #13
Got it, thank you for looking into it!

Turns out anything can be a breaking change, right? :)

FYI what you described you're doing ( receiving all the `$attrs`) had another side-effect of two elements having the id `map` in my DOM because I was doing `<GoogleMap id="map">` and of course the id is part of the $attrs that get copied.

Also my scss code now looks odd because of it too.

[code]

Noth

[2021-02-18 09:12] maninak commented on #14
Hey, thank you for looking back into it.

I found the issue and it was on my side! As I suspected I was using the composition API wrong.

In `BaseMap.svg` (as shown in OP) in `setup` I'm exposing the props like so, in order to have access to them in the template:

[code]

I remember distinctly how this "smelled" back then and I struggled with accepting it, but I also remember that the latest vue3

[2021-02-18 09:12] #14 closed

[2021-02-19 08:46] HusamIbrahim commented on #13
Thanks for pointing that out. Apparently we forgot to `inheritAttrs: false` to prevent the root div from receiving those attrs as well. Will add that in the next release.

[2021-02-19 08:48] HusamIbrahim commented on #14
No worries and glad you could resolve your issue. I'm still learning about the composition API myself so thank you for pointing out that gotcha.

[2021-03-02 20:17] scottix opened #22 "Reloading Component in SPA"
In a SPA, the component can get unMounted when I navigate to another page, but if I return to the page with the map or go to another page that has a map. The component doesn't get reinitialized, this is because the google map loader has already loaded previous api.

I think you should check if google.map is available, if is then you can just re-configure the map.

[2021-03-02 22:56] scottix commented on #22
Another comment/issues I found.
I was playing with the plugin and was able to reinitialize the map, but turns out there is a race condition with mapRef

mapRef is set to null and will only get initialized when the div is mounted.
You don't see the issue right now because by the time the GoogleMap api loads the div is ready.

In the reinitialize case the api is already loaded but mapRef is null bec

[2021-03-03 23:20] serginhosis commented on #20
I can't understand, themes not work to me. Can you help-me @HusamIbrahim ?

[2021-03-04 16:43] HusamIbrahim commented on #20
@serginhosis Sorry that part of the documentation needs to be updated as it doesn't reflect the latest API. Please refer to this example as it has been updated to reflect the latest ..
https://github.com/inocan-group/vue3-google-map/blob/develop/docs/examples/ThemesExample.vue

[2021-03-05 07:27] daniel-de-wit opened #23 "Feature: HtmlMarkers"
Using a [CustomOverlay](https://developers.google.com/maps/documentation/javascript/examples/overlay-simple) it's possible to mimic the behaviour of a marker while adding the ability to render html using a slot.

The [eregnier/vue2-gmap-custom-marker](https://github.com/eregnier/vue2-gmap-custom-marker/blob/master/gmap-custom-marker.vue) plugin for [diegoazh/gmap-vue](https://github.com/diegoazh/g

[2021-03-08 20:14] HusamIbrahim commented on #23
Hello @daniel-de-wit

We're certainly looking to expand our feature set. This library was created to address our immediate needs for using basic mapping features with Vue 3. Our focus right now is on fixing any bugs with the initial feature set before adding any new features though.

[2021-03-21 16:37] arturh85 opened #25 "Feature: Make Loader libraries configurable"
Currently the libraries loaded are hardcoded in the GoogleMap component, please expose a property called libraries which if set would override the default.

[2021-03-21 16:37] arturh85 commented on #25
#24

[2021-03-22 09:56] JoseGoncalves commented on #18
I've made a fork to handle the use case were someone needs to dynamic change localization options:

https://github.com/JoseGoncalves/vue3-google-map/tree/dynamic-localization

This fork was made from an early version of `vue3-google-map`, were there was a different lib (`connect-google-maps`) used to load the Google Maps API.

But the mais idea is that, in order to change the localization options,

[2021-03-22 11:27] #25 closed

[2021-03-22 12:53] HusamIbrahim commented on #18
@JoseGoncalves Is that similar to `js-api-loader`'s [deleteScript](https://googlemaps.github.io/js-api-loader/classes/loader.html#deletescript)?
Only problem I see with that solution is if you had multiple maps on the page.

[2021-03-22 17:00] JoseGoncalves commented on #18
Don't know that `js-api-loader` lib.
In a nutshell, what I've done in my fork was to add the following function on `connect-google-maps`:
[code]
and called it when unmounting the GoogleMap component:

[code]

Im my app, I've created a new component to wrap the GoogleMap component, were I use a flag to control the map reload with a `v-if` when the language and/or region is changed:

[code]

[2021-03-22 18:15] HusamIbrahim commented on #18
That's quite clever what you did there 🙂
As for `deleteScript`  I think it's doing a similar thing to what you did with your `unload` function (minus deleting the singleton of course).

[2021-03-22 18:38] JoseGoncalves commented on #18
It would be nice if something similar would be integrated in the main `vue3-google-map`...

[2021-03-23 18:33] reslear opened #26 "googlemap api"
i found provide https://github.com/inocan-group/vue3-google-map/blob/9ef51c45b97ac3c2d9bd72f91aed90f170a1505a/src/components/GoogleMap.vue#L79

how to inject api
on my components googlemaps api aka `window.google`
`GmapApi` alternate https://github.com/xkjyeah/vue-google-maps/blob/vue2/src/main.js

or only use ref solution https://vue3-google-map.netlify.app/advanced-usage/ ?

[2021-03-23 20:40] AARP41298 opened #27 "Can i put info windows?"
Just kidding, i already check the componentes/index.ts, and i cant found google.maps.InfoWindow declared anywhere

I really want to contribute to this proyect, but im building my first laravel-vue project, so my skills are just growing
But THANK YOU, for this work, is just amazing

[2021-03-27 13:13] HusamIbrahim commented on #26
You could use what you refer to as the ref solution in [https://vue3-google-map.netlify.app/advanced-usage/]() if you just need access to the api. We currently don't expose the api and map symbols, but it might be useful if we want to allow people to write their own custom components that add additional features. Something to think about.

[2021-03-27 13:19] HusamIbrahim commented on #27
Thanks for the kind words. Info windows  are definitely at the top of our todo list and have been requested before (see #19 for example). Hopefully we can get to it soon.

[2021-04-01 00:34] VitAndrGuid opened #28 "Custom controls getting rendered before map is loaded"

[2021-04-07 13:50] JamieMcDonnell opened #29 "Polygons reappearing on zoom"
Hi there,
I created a simple example using your component to render a map and display 2 polygons. It is extracted from a much larger project, but the bug still happens.

I create the polygons, then hide them using `polygon.setMap(null) - when I zoom the map, they reappear.

please take a look at this stackoverflow ticket for details:
https://stackoverflow.com/questions/66987487/polygons-reappearin

[2021-04-09 02:26] dudeo4106 commented on #17
Than you for providing us this awesome library.
We are a user of this open source and we are in desperate need your help about adding this specific function to the library since it is essential for our system.
We would be appreciated if you could help us about it. Thank you again.

[2021-04-13 03:42] baradhili commented on #16
@HusamIbrahim could this be marked as a feature request?

[2021-04-15 14:17] MachariaK opened #30 "Get location of clicked location"
How can I get the latitude and longitude of a clicked location on the map?

[2021-04-15 15:56] MachariaK commented on #1
How do you get the location(lat & lng) of a clicked position on the map?

[2021-04-15 17:30] MachariaK commented on #30
Sorted.
`  function clicked(event) {
      console.log(event.latLng.lat());
      console.log(event.latLng.lng());
    }`

[2021-04-15 17:30] #30 closed

[2021-04-15 21:10] HusamIbrahim commented on #16
@baradhili we have a backlog of bugs we need to work through first. I also think it might be better for search functionality to be implemented on the user side for better control of look and feel. Happy to be convinced otherwise though.

[2021-04-16 04:16] HusamIbrahim commented on #22
Can you provide a minimal reproduction of these issues @scottix ?

[2021-04-20 07:19] JamieMcDonnell opened #31 "Loading multiple maps in an SPA fails"
I am loading one map component in my main page, and when I try to open a drilldown (modal popup, overlay etc) with a second map component in I get the following error:
[code]
and
[code]

The following file:
https://github.com/JamieMcDonnell/vue3-google-map/blob/develop/src/components/GoogleMap.vue

Needs to check if google maps api is already loaded, and if so, not create another instance of loade

[2021-04-20 08:39] JamieMcDonnell commented on #31
I was able to fix an issue in GoogleMap.vue and get your code to compile, and have modified the component to prevent reloading Google Maps library - I will create a pull request with my changes

[2021-04-22 01:16] ksnyde commented on #31
I have accepted your PR and pushed version `0.7.2`. Thanks for the pull request. I will presume this to be closed but let me know if it isn't for some reason.

[2021-04-22 01:16] #31 closed

[2021-04-22 01:17] ksnyde commented on #19
@yangxi518 since we are not actively using this component there's not a ton of urgency right now. I'd suggest you consider a pull request if you need this sooner rather than later.

[2021-04-22 01:27] ksnyde commented on #16
@bvnn Sorry i'm reading this and not understanding what the issue is. What is it in the API that you can't access? What is the search functionality you are referring to? Can you provide a link to Google where this is documented?

[2021-04-22 01:28] ksnyde commented on #28
@HusamIbrahim why is this an enhancement? Seems like defect if it's reproducible. @VitAndrGuid can you explain the steps you're using to reproduce?

[2021-04-24 08:24] #22 closed

[2021-04-25 02:18] VitAndrGuid commented on #28
@ksnyde sure can, just instantiate a map with a controller and you can see it gets rendered outside of the map and them onto it after it loads.

reproduction link: https://codesandbox.io/s/vue3-google-maps-custom-control-render-2g68b

[2021-04-26 16:00] VitAndrGuid commented on #16
I think what he wants can be easily achieved with a custom control plus a input and his own integration with the places or routing api

[2021-04-26 16:33] ksnyde commented on #16
@baradhili based on the suggested work-around I am going to close this issue but if you feel it should be solved a different way and want to provide a PR for this we are happy to review that.

[2021-04-26 16:33] #16 closed

[2021-04-26 17:01] #28 closed

[2021-04-29 15:06] JoseGoncalves opened #36 "Issue when generating app with v0.7.2+"
My application build fails with the latest release (`0.7.6`). Here is my build log:

[code]

The latest `vue3-google-map` version that works for me is `0.7.1`.

With version `0.7.2` my app also fails to build, but the reported error is different:

[code]

[2021-04-29 16:09] HusamIbrahim commented on #36
@JoseGoncalves Please share a reproduction link if possible. @ksnyde will look into it shortly.

[2021-04-29 16:56] JoseGoncalves commented on #36
@HusamIbrahim and @ksnyde Pllease check my sample project at https://github.com/JoseGoncalves/vue-google-maps

[2021-05-13 18:08] reslear commented on #36
same, on vue cli

[2021-05-13 18:58] ksnyde commented on #36
@HusamIbrahim have you fixed this in `07.6`. @JoseGoncalves @reslear my apologies for not looking at this sooner but I am not using this repo at the moment haven't been able to pull myself away from some urgent issues elsewhere.

[2021-05-13 19:58] ksnyde commented on #36
@JoseGoncalves I built your repo without issue using the `0.7.1` release.

![image](https://user-images.githubusercontent.com/980757/118180012-e889db80-b3ea-11eb-82d7-6367ffc38b00.png)

[2021-05-13 20:07] JoseGoncalves commented on #36
@ksnyde Yep, thats the issue. Anything above or equal 0.7.2 fails to build.
And is not only when you build for production.
Building for development, with `npm run serve`, it also fails.

[2021-05-13 20:10] ksnyde commented on #36
i'm looking at it now ... at first blush it appears to be the manner in which rollup is transpiling the following but i'm still mid-stream.

![image](https://user-images.githubusercontent.com/980757/118181434-9e095e80-b3ec-11eb-8876-454db6c5b188.png)

[2021-05-13 20:30] HusamIbrahim commented on #36
@ksnyde `0.7.6` was released prior to this issue being brought up.

[2021-05-13 23:00] ksnyde commented on #36
@JoseGoncalves @JamieMcDonnell I believe this problem is fixed in `0.7.7`. @JoseGoncalves it definitely did work in the the test repo you provided. Let me know if you get it working and we'll close this.

[2021-05-14 02:10] JoseGoncalves commented on #36
@ksnyde The missing token error is fixed!

Nevertheless, after I updated the dependencies in my demo project I got the following error:
[code]
This can be fixed if I install `@googlemaps/js-api-loader` in my project, but I think a better solution is for you to set that package as a dependency of `vue3-google-map` (as it was set in 0.7.6) instead of a peer dependency.

[2021-05-14 18:18] ksnyde commented on #36
@JoseGoncalves in general an external API -- especially one from Google, who in my experience can be a bit crude with semver wrt typings (at least historically) -- is better externalized from library code which allows the consumer of this repo to upgrade the Google API as they please and not be tied to a version stated by this repo.

In the past, I would sometimes express this as an "optional depe

[2021-05-14 18:19] ksnyde commented on #36
How are you recreating your problem?

[2021-05-14 18:49] JoseGoncalves commented on #36
I get the problem if I do;
[code]

[2021-05-15 15:48] MachariaK opened #37 "How do I use google.maps.Point?"
I want markers with different colors and I am wondering where to get` Point` so that the marker can point to the exact position.

The anchor argument should be of the type `google.maps.Point`.

The SVG generator is as follows:

[code]
Also, is it possible to fit bounds?

[2021-05-15 17:32] ksnyde commented on #36
Yes this confirms what I was saying.

This is typically _not_ what people actually want and due the world being "weird" it was always implemented this way with optional dependencies and not peer dependencies but this has been corrected and made consistent across package managers so library authors don't have to be _sneaky_ and put deps into optional deps when in fact they are genuine peer dependen

[2021-05-15 17:39] ksnyde commented on #36
As I mentioned earlier, having the Google dependencies listed as a peer dependency is not only more "correct" but provides users of this library more flexibility/freedom if they need it but no additional problems if they don't. If you're using the `--legacy-peer-deps` flag you are signing up for a greater responsibility to install peer dependencies explicitly but very few people need this or use t

[2021-05-15 17:39] #36 closed

[2021-05-15 17:45] ksnyde commented on #37
Please read the docs and if that doesn't answer your question you'll then need to look at the code. This is an open source problem @MachariaK not a commercial support team. I'm _very_ open to you submitting a PR if you want to improve the documentation or the code _after_ you've gone through this exercise.

I know it would be nice if someone was there to answer questions like this but you should n

[2021-05-15 17:45] #37 closed

[2021-05-15 17:47] ksnyde commented on #29
@JamieMcDonnell the link you pointed to is broken and in the future we would ask that you indicate the steps required to reproduce here in the issue ... ideally with a link to a repo or executable code sample that can be used.

For now I am closing this and you can reopen a new issue if this is still an issue for you.

[2021-05-15 17:47] #29 closed

[2021-05-15 18:02] ksnyde commented on #18
The issue with this solution @JoseGoncalves is that while you're addressing an edge case, you are lowering performance for the _average_ use case. This is _not_ an issue so much as a feature request. I'm happy to consider a PR on this if someone has a solution which doesn't interfere with performance for the happy path.

I am closing this for that reason but as I mentioned, i'm 100% willing to acc

[2021-05-15 18:02] #18 closed

[2021-05-15 18:04] JoseGoncalves commented on #36
@ksnyde I was using `npm install --leagcy-peer-deps` because standard install fails in my projects with the following error:
[code]
This is due the usage of eslint 7 in my projects and vue-cli still uses v6.
I managed to overcome my installation issue replacing `--legacy-peer-deps` with `--force`.

[2021-05-15 18:04] ksnyde commented on #26
Sorry i'm reading this and not sure _what_ the feature request is here. Can someone please elucidate this?

[2021-05-15 18:06] ksnyde commented on #17
@dudeo4106 this is a feature request and like all feature requests we're open to a PR if you need this please consider this path

[2021-05-15 18:10] yankeeinlondon opened #38 "Add Info Window"
Adding the **Info Windows** feature to this repo is a _feature-request_ for this library. We are happy to accept PR's for this work as there is not immediate demand internally for this feature but we do understand why it might be useful and it will eventually be incorporated.

[2021-05-15 18:11] ksnyde commented on #27
Tracked here: [Info Windows](https://github.com/inocan-group/vue3-google-map/issues/38)

[2021-05-15 18:11] #27 closed

[2021-05-15 18:11] ksnyde commented on #19
Tracked here: [Info Windows](https://github.com/inocan-group/vue3-google-map/issues/38)

[2021-05-15 18:11] #19 closed

[2021-05-15 18:32] reslear commented on #26
@ksnyde global api provide `google` api for use `google maps api` without refs in composable solution and component without maps, for example future `place autocomplete`

ps. place autocomplete components planned?

[2021-05-15 19:59] ksnyde commented on #36
I think for your needs `--force` is the correct flag. Not because of anything in this repo but rather that you're not actually interested in taking over the responsibility for peer dependencies as is expressed by `--legacy-peer-deps` but rather want to _force_ a version onto one of your dependencies. Make sense?

[2021-05-15 20:04] ksnyde commented on #26
@reslear can you give me a code example? Feel free to use a syntax you _want_ rather than one that exists if that's needed but bear in mind our intention with the google API exposed by `@googlemaps/js-api-loader` is to allow you to do whatever you like with it directly. It is not our concern and our ambition is to be "out of the way" for this.

[2021-05-20 12:33] JamieMcDonnell commented on #36
Thanks for this guys, sorry I was away the past few weeks. I am using your lib in a Quasar project, but since updating to v 0.7.7 I now see the following when trying to run project:
[code]

       Can this be added? Or should I fork and add it to my fork?

       Thanks in advance

       Jamie

[2021-05-20 12:57] ksnyde commented on #36
<img width="119" alt="image" src="https://user-images.githubusercontent.com/980757/118982197-09dd5100-b930-11eb-8177-bf885d798e3b.png">

The types are now put into the `dist/types` directory rather than being bundled into the same directory as the es build but it would appear that it's offset the path due to the inclusion of both `src` and `docs` root directories. This should be a simple fix.

[2021-05-20 13:08] ksnyde commented on #36
I've release `0.7.8` which should fix this

[2021-05-20 14:18] JamieMcDonnell commented on #36
Thanks, while that seems to have resolved the declaration, but the component type properties are still coming back as 'any'.

in my template I put a ref on my component, e.g::
[code]

I import the lib:
[code]

In setup I define the variable that refers to that ref and give it a type:
[code]

and I export it to the template:
[code]

Within setup I create a computed ref to point to the map:
[code]

[2021-05-20 14:24] JamieMcDonnell commented on #36
I tried replacing the contents of GoogleMap.vue.d.ts with the following:
[code]

But the imported GoogleMap object still shows a type of 'any"
[code]

[2021-05-20 20:48] ksnyde commented on #36
@JamieMcDonnell there was a typing error in GoogleMap that caused the `.vue` file to not export any typing information. I believe this was in there for a number of releases but that said, it's fixed now.

[2021-05-21 07:25] JamieMcDonnell commented on #36
@ksnyde thanks this makes sense. I updated to 0.7.9 but the issue persists.

Any ideas?

<img width="568" alt="Screenshot 2021-05-21 at 9 23 20" src="https://user-images.githubusercontent.com/647732/119098641-51d6a380-ba16-11eb-880c-f79e21c2af61.png">

[2021-05-21 13:58] ksnyde commented on #36
Take a look at the `node_modules/vue3-google-map/dist/typings` folder and see if you can see what's happening. I'm on the road now for a few days and won't have any time to look at this.

[2021-05-21 14:00] ksnyde commented on #36
It should look something like:

<img width="831" alt="image" src="https://user-images.githubusercontent.com/980757/119149228-2d70cc00-ba02-11eb-9ed7-48158f5eb443.png">

[2021-05-21 14:01] ksnyde commented on #36
Bear in mind, I am not using this library at all right now so I simply make sure it compiles and the documentation comes up and then call it a day right now.

[2021-05-24 14:37] JamieMcDonnell commented on #36
ok no worries, I looked into it but could not find the issue. When I need to refer to the typing of a custom component, I follow these few steps:
1/ Move the script tag to a separate .ts file and refer to it in the src prop of the script tag of the template

2/ Import the .ts file for the component separately to the component itself, e.g:
[code]

3/ declare the variable to contain the ref element

[2021-05-26 01:29] ksnyde commented on #36
I'm not sure about these steps but the best way is to look at the `package.json` and then find the "typings" or "types" export and then look at the typings. This is what I asked for. If you do as I mentioned I can tell you in 30 seconds what the issue is.

[2021-05-27 07:19] JamieMcDonnell commented on #36
This is a screenshot of the @type dependencies in my package.json - there are no ""typings" or "types" export".
<img width="518" alt="Screenshot 2021-05-27 at 9 11 20" src="https://user-images.githubusercontent.com/647732/119782506-8fcb4000-becc-11eb-853c-4a3ae23f35df.png">

In your package.json:
https://github.com/inocan-group/vue3-google-map/blob/develop/package.json

I see no ""typings" or "typ

[2021-05-27 17:45] ksnyde commented on #36
no, i'm asking you to look in `node_modules/dist/types/components/GoogleMap.vue.d.ts` (see my screen shot). Your own package.json isn't going to tell you anything.

When troubleshooting type errors for a dependency which supplies its own types (aka, you don't need to install a separate `@types/xxx` ... you do this by looking at the dependencies `package.json` in node_modules and then look for the

[2021-05-28 05:46] JamieMcDonnell commented on #36
thanks for clarifying and sorry for the confusion. Attached is the screenshot of `node_modules/vue3-google-map/dist/types/components/GoogleMap.vue.d.ts`

<img width="785" alt="Screenshot 2021-05-28 at 7 43 23" src="https://user-images.githubusercontent.com/647732/119936014-c4043680-bf88-11eb-912e-6eb3d01b01c4.png">

[2021-05-28 21:48] ksnyde commented on #36
Hmmmm. So it looks like the _types_ are there. Can you expand on the issue you're having? You gave a snippet of the Vue `ref` assignment but what I'd like to see is where you're importing the `GoogleMap` symbol and whether or not that symbol has type information.

[2021-06-09 16:53] gmalignon opened #40 "Add Google Maps version to MapOptions"
I noticed the Google Maps version is set to "weekly", is there any way to make it a MapOption that can be set by the user so it could be changed manually, if needed? It's set in this section: new jsApiLoader.Loader({apiKey:a.apiKey,version:"weekly"...,

[2021-06-09 20:19] gmalignon commented on #17
I need the same thing fixed too. I'm willing to help if you tell me how to get started. It seems to me that if there's a way to compare the options for the existing Marker in the watch section, it would be easy to not update the marker.

[2021-06-10 07:35] HusamIbrahim commented on #17
@gmalignon Yes that's something I had considered (the deep object comparison) but didn't implement, fearing perf issues. Might give it a try and see how it goes.

[2021-06-11 20:34] gmalignon commented on #17
I ended up managing the markers myself with the map reference. I simply keep track of the one that's clicked and change the icon dynamically, also resetting the one previously selected. I also use setVisible true or false depending on if I want to show the marker or not. There's no flickering at all (since the markers are not removed and added again) and it's very quick.

[2021-06-12 02:31] #40 closed

[2021-06-12 03:12] HusamIbrahim commented on #40
Added in `v0.8.0`

[2021-06-18 06:04] jbbulls opened #42 "Added marker in streetview is now shown."
The code below is taken from the Google Maps sample. https://jsfiddle.net/api/post/library/pure/
Maybe someone can help me spot the issue. Thanks

 onMounted(() => {
      setTimeout(() => {
        if (mapRef.value.ready) {
          // const panorama = mapRef.value.api.StreetViewPanorama;
          const panorama = mapRef.value.map.getStreetView();

          const cafeMarker = new mapRef.value.

[2021-06-18 17:05] prasetyaputraa opened #43 "Where to register google maps API events listener?"
Where should I register maps API event listeners? I tried to add a listener to click event in `mounted` hooks but the component's map` property is evaluated to null at this point in a component's lifecycle. Thank you.

[2021-06-18 18:54] prasetyaputraa commented on #43
The way I do it, is to assign the reference to the map to a `watch` composition API, adding listener to it after the referenced map is ready.

[2021-06-18 22:37] prasetyaputraa commented on #43
Reopening the issue because somehow this solution does not always work.

[2021-06-19 16:10] asoltani927 opened #44 "How to add "MarkerClusterer"?"
How can I add "MarkerClusterer" to map instance?

[2021-06-28 06:20] yulafezmesi commented on #43
Any update on this?

[2021-07-01 00:08] #43 closed

[2021-07-01 14:38] HusamIbrahim commented on #43
Hey @prasetyaputraa sorry about the late response. There's a `ready` ref which you can use. @JoseGoncalves shared an example of how he's using it to register event listeners a while back:
https://github.com/inocan-group/vue3-google-map/issues/1#issuecomment-718229226
If this method doesn't work for you or if you have any feedback on ways to improve the API please let me know.

[2021-07-01 18:33] JoseGoncalves commented on #43
Hi @prasetyaputraa, you can also check the following usage demo: [vue-google-maps](https://github.com/JoseGoncalves/vue-google-maps.git)

[2021-07-02 10:50] prasetyaputraa commented on #43
@HusamIbrahim @JoseGoncalves Sorry, I wonder why did I miss it while browsing the issues. Thank you so much!

[2021-07-30 14:17] Shamzic opened #46 "Marker cluster"
Hello, I didn't found a way to add maker clusters. Did someone has achieve to do it ?

Thanks by advance!

[2021-08-01 00:18] HusamIbrahim commented on #44
This is unfortunately not supported yet. But considering how popular this feature seems to be I'll look into adding it when I have some spare time.

[2021-08-01 00:20] HusamIbrahim commented on #46
This is a duplicate of #44

[2021-08-01 00:20] #46 closed

[2021-08-08 09:49] #17 closed

[2021-08-09 10:13] JoseGoncalves opened #48 "No map controls with v0.8.1"
Upgrading to v0.8.1 I don't have the map controls overlayed on my map and I'm unable to zoom in/out or drag the map.
You can check my usage demo at https://github.com/JoseGoncalves/vue-google-maps .
This demo works fine with v0.8.0, but it does not work with v0.8.1.

[2021-08-11 09:37] JoseGoncalves commented on #48
@dblythy I confirm that. Setting `:keyboard-shortcuts="true"` also enables back the zoom controls with `+` and `- ` keys. Nevertheless setting `:disable-default-ui="false"` does not bring back the default UI controls.

[2021-08-11 09:46] JoseGoncalves commented on #48
It seems the default UI prop has incorrect casing set. It's defined as [disableDefaultUi](https://github.com/inocan-group/vue3-google-map/blob/develop/src/components/GoogleMap.vue#L67), when it should be defined as [disableDefaultUI](https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions.disableDefaultUI).

[2021-08-11 10:00] dblythy commented on #48
I can fix that in my PR if you would like 😊

[2021-08-11 10:06] JoseGoncalves commented on #48
@dblythy Go ahead! Your current PR should fix the current issue, but adding the default UI prop correct name would allow the possibility to disable those controls.

[2021-08-11 11:11] HusamIbrahim commented on #48
Thanks for looking into this guys :pray:

One thing to note is that we do need this prop name to remain the same. Otherwise people will have to use `disable-default-u-i` for the kebab case version:
https://vuejs.org/v2/guide/components-props.html#Prop-Casing-camelCase-vs-kebab-case

So a fix would probably have to be in `resolveOptions`:
https://github.com/inocan-group/vue3-google-map/blob/develop

[2021-08-12 00:31] #48 closed

[2021-08-22 16:53] sagardspeed2 commented on #44
@asoltani927 thanks for adding this request, I also need this functionality in my project. but it seems that it is not supported.
@HusamIbrahim  can you please share any status related this ?

[2021-08-30 02:47] rplkabir opened #50 "How to make multiple marker"
can you show some simple example for multiple marker in this package?
thankyou

[2021-09-01 17:21] HusamIbrahim commented on #50
Do you mean marker clusters? That feature isn't available yet.

[2021-09-07 16:05] VitAndrGuid commented on #42
You manually created the marker but never assigned it to the map, try passing the map instance to the marker like in the first code of https://developers.google.com/maps/documentation/javascript/adding-a-google-map.

[2021-10-16 21:14] ChristherLenander opened #51 "Typescript problems"
Hello!

First I want to say awesome lib.

I using typescript and whren I trying to use map ref by doing ref="mapRef".

Linting complains that ready doesn't exist on type never.

[code]

To get it to work I had to to like this.
[code]

[2021-11-10 14:10] mattiaerli97 opened #52 "Failed to resolve loader: @googlemaps/js-api-loader"
When I try to install the package `vue3-google-map` with the version `1.12.9` I receive the following error

`Failed to resolve loader: @googlemaps/js-api-loader`

The problem is that, as I can see from the package json, the dependency `@googlemaps/js-api-loader` is included in `devDependencies`, while I believe should be added to the `dependencies` section.

In fact, by installing `@googlemaps/js

[2021-11-24 23:48] HusamIbrahim commented on #52
Hi @mattiaerli97

Thanks for reporting. This is indeed a regression. It was included as a dependency at first but was moved to the peer dependencies section during a modification to the build script.

[2021-11-26 10:56] pisangGoreng opened #53 "cant use local image for marker"
Hi, thanks for making this Lib

I try to change the marker with the png / svg in my local repo but not work. is my code wrong?
[code]

any reference to use fontawesome icons as marker?

Thanks & have a good day

[2021-12-12 00:19] HusamIbrahim commented on #53
Hi @pisangGoreng

Can you please provide a reproduction? I tried this on my end and it seems to work fine.
As for fontawesome this might be helpful:
https://stackoverflow.com/questions/16375077/using-icon-fonts-as-markers-in-google-maps-v3

[2021-12-12 01:18] #52 closed

[2022-01-11 04:03] wobsoriano commented on #50
If you're not talking about marker clusters, then just do a `v-for` to an array of markers

[2022-01-31 11:47] ribrewguy commented on #23
Any movement on this? Only having simple markers is awfully limiting. It would be massively helpful to add custom markup in the markers themselves.

[2022-02-11 18:53] web-programmer-here opened #55 "Uncaught (in promise) Object { message: "Map: Expected mapDiv of type HTMLElement but was passed null.","
Hi, I am trying to use this library but I get this error:

[code]

This is how I used it in my content component

[code]

[code]

am I doing this properly?

[2022-02-11 20:27] web-programmer-here commented on #55
@HusamIbrahim thanks for the quick reply, I tried to create a sandbox but it did not work, I am new to vue and I broke down my template structure like this

[code]

[2022-02-11 20:50] HusamIbrahim commented on #55
@HusamIbrahim Can you try https://vite.new/vue? Otherwise maybe share a link to a repo

[2022-02-11 20:50] HusamIbrahim commented on #55
@web-programmer-here Can you try https://vite.new/vue? Otherwise maybe share a link to a repo

[2022-02-12 03:06] web-programmer-here commented on #55
very strange, maybe something is up with my webpack setup, do you have an example with webpack 5?

[code]

I using
[code]

[2022-02-12 04:07] web-programmer-here commented on #55
@HusamIbrahim I added you to a private repo that I created to show the error, thank you for your help

[2022-02-12 14:33] web-programmer-here commented on #55
@HusamIbrahim I finally managed to create a sandbox here
https://codesandbox.io/s/sample-test-cs7up

I have been trying to figure out what is the issue with this and no luck, been banging my head all day :(

[2022-02-13 19:21] HusamIbrahim commented on #55
Hey @web-programmer-here
Not sure what the issue there is but probably something to do with your webpack config. I tried the Vue CLI scaffolding (webpack based) and your code appears to work there:
https://codesandbox.io/s/shy-darkness-2bh96

[2022-02-14 16:36] web-programmer-here commented on #55
@HusamIbrahim Thanks, I don't have this issue with other libraries, is there something specific about this one that it may not work with webpack? the webpack setup is pretty basic, I even disabled `splitChunks` in configuration but still does not work.

[2022-02-14 16:48] JoseGoncalves commented on #55
@web-programmer-here This library does work with webpack setups. I use it with a Vue CLI generated project (using webpack on the background) without any issues. Check the following project, maybe it will help you with your setup:
- https://github.com/JoseGoncalves/vue-google-maps

[2022-02-14 16:51] web-programmer-here commented on #55
@JoseGoncalves Thanks, I will take a look now

[2022-02-14 18:19] HusamIbrahim commented on #55
@web-programmer-here I'd try inspecting the webpack config of a standard Vue CLI project and see if you have something misconfigured:
https://cli.vuejs.org/guide/webpack.html#inspecting-the-project-s-webpack-config

[2022-02-15 03:12] web-programmer-here commented on #55
closing this as I decided to use Vue CLI

[2022-02-15 03:12] #55 closed

[2022-02-15 04:46] web-programmer-here opened #56 "Updating a marker on button click"
I am trying to update a marker to a new location after a click but cant get it to update

https://codesandbox.io/s/romantic-glitter-32wjh?file=/src/frontend/components/Content.vue

Here is a simple implementation I did:

[code]

[2022-02-15 11:00] HusamIbrahim commented on #56
@web-programmer-here As a workaround you can re-assign `initialLocation`

[code]

[2022-02-15 13:03] web-programmer-here commented on #56
@HusamIbrahim Thanks, that worked. Is there any documentation or example how I can move the map to that location?
the market is updated but the map doesnt move to show the updated marker
https://codesandbox.io/s/gracious-newton-xexyg?file=/src/frontend/components/Content.vue

[2022-02-15 13:47] web-programmer-here opened #57 "Is it possible to make sure map zooms out so all markers are visible?"
If I add the markers, they are not all visible on the map, how can I make sure the markers are all visible if that means zooming out or zooming into the map? also is there any auto center without specifying auto center if we have multiple items?

[2022-02-15 22:58] web-programmer-here commented on #23
+1 for this feature

[2022-02-16 09:03] HusamIbrahim commented on #57
Hey @web-programmer-here there's currently no auto centering/zooming functionality. I'm afraid you'll have to do it manually. Have you seen this method in the native API? Should be useful:
https://developers.google.com/maps/documentation/javascript/reference/map#Map.fitBounds

[2022-02-16 09:05] HusamIbrahim commented on #23
Yeah I realize this is quite a useful feature to have. Will have a go at it when things cool off a bit at work. PRs welcome in the meantime 🙂

[2022-02-17 00:56] web-programmer-here commented on #23
@HusamIbrahim is it possible for now to wrap the marker image in a div? I want to style the image but cant target it to style it

[2022-02-19 19:40] HusamIbrahim commented on #57
Hi @web-programmer-here

I haven't used that API before but a quick search turned out this helpful result on Stack Overflow:
https://stackoverflow.com/q/19304574/10341614

So here's an example of what you probably can do:
https://stackblitz.com/edit/vitejs-vite-4tdpur?file=src/components/HelloWorld.vue

[2022-02-19 19:51] HusamIbrahim commented on #23
Appreciate the initiative @web-programmer-here!
And kudos to @eregnier for creating this. Really appreciate your support sir 🙏

[2022-02-19 21:18] web-programmer-here commented on #57
thank you, this helped a lot

[2022-02-19 21:18] #57 closed

[2022-03-11 10:50] kerekes opened #58 "GoogleMap doesn't render when embedded in custom element"
I'm turning a Vue component into a custom element (tag). The `GoogleMap` component stops working when I embed I use it inside a custom element. Why is that?

**mount Version (works)**

When `App` users `GoogleMap`, this works:

main.js
[code]

index.html
[code]

**custom'Element Version (breaks)**
But when embedding it as a custom element, the map doesn't render:

main.js
[code]

index.html
[code]

[2022-03-11 21:41] HusamIbrahim commented on #58
Hi @kerekes

Can you please share a reproduction? You can use https://vite.new/vue

[2022-03-12 09:06] kerekes commented on #58
@HusamIbrahim here's you are: https://stackblitz.com/edit/vitejs-vite-a12ajq?file=src/components/MapComponent.vue

I left my development API key in so it's more convenient for you. Will deactivate it sometime in the future.

[2022-03-13 00:39] HusamIbrahim commented on #58
It appears that the styles of the `GoogleMap` component aren't being injected in the custom element and the map has 0 height. I'm not too familiar with web components/custom elements but will treat this as a potential bug for now.

You can work around the issue by explicitly defining the map styles:
[code]
https://stackblitz.com/edit/vitejs-vite-u9fjpv?file=src%2Fmain.js

[2022-03-15 00:38] web-programmer-here commented on #38
+1 for this feature too, it is going to be very useful

[2022-03-15 00:40] yankeeinlondon commented on #38
We're not currently using this functionality so it's not getting a ton of attention but would you consider adding in a pull request? Probably the fastest way to getting this in.

[2022-03-15 00:40] web-programmer-here commented on #23
@HusamIbrahim any chance this feature can be added to the library itself without additional libraries? thanks

[2022-03-15 02:09] HusamIbrahim commented on #23
Probably at some point @web-programmer-here. The native API allows for some decent customization level and only when custom markup is really necessary does this feature become useful. Using your sandbox from the plugin repo as an example:
https://codesandbox.io/s/nice-newton-yjgijf?file=/src/frontend/components/Content.vue

[2022-03-15 02:12] #51 closed

[2022-03-15 02:38] web-programmer-here commented on #23
Thanks @HusamIbrahim. I need to wrap the image tag in a div

[2022-03-15 02:46] #42 closed

[2022-03-15 02:48] #50 closed

[2022-03-17 22:14] sinisarudan opened #59 "bounds_changed event called with no parameter passed"
Here are excerpts from the code:

[code]

[code]

[2022-03-17 23:06] HusamIbrahim commented on #58
So this seems to be an upstream issue https://github.com/vuejs/core/issues/4662

[2022-03-17 23:16] HusamIbrahim commented on #59
Hi @sinisarudan

It doesn't look like the `bounds_changed` listener callback can receive any arguments:
https://developers.google.com/maps/documentation/javascript/reference/map#Map-Events

As for `getBounds` it should be available as `mapRef.value.map.getBounds`

[2022-03-18 09:36] sinisarudan commented on #59
Thanks @HusamIbrahim for the quick reply.
You're right, after checking official docs, I do see that `bounds_changed` does not receive any argument.
Regarding `mapRef.value.map.getBounds`: maybe I've mistreated this event to cause me seeing `getBounds` not working. After cleaning the code, eliminating the event part, etc, this DOES work:

[code]
So, I'm closing the issue. Thanks again and sorry for

[2022-03-18 09:36] #59 closed

[2022-03-20 05:56] #38 closed

[2022-03-20 07:21] HusamIbrahim commented on #38
Added in `v0.8.4`. Can be used like this:
[code]

Or like this:
[code]

Documentation to be added soon

[2022-03-20 20:02] eskiesirius opened #61 "Additional Data in Marker"
Is this possible? I want to add ID in the marker..

[2022-03-21 00:56] HusamIbrahim commented on #61
Haven't thought about this before but it seems you could:
https://stackoverflow.com/questions/11378450/google-map-api-v3-how-to-add-custom-data-to-markers

[2022-03-21 02:30] eskiesirius commented on #61
i tried but it didn't worked

[2022-03-21 07:37] Baroshem commented on #38
Tested it and it works great. I have one question @HusamIbrahim. Could you tell me how can I nest a info window inside of a marker so that when I click on a marker it will open an info window?

[2022-03-21 19:01] eskiesirius commented on #38
may i see the screenshot of this? i cant make this work

[2022-03-21 20:16] HusamIbrahim commented on #61
Can you share an example of what you're trying to achieve? Hard to imagine what's not working exactly.
You can use https://vite.new/vue

[2022-03-21 20:20] HusamIbrahim commented on #38
Please share a reproduction @eskiesirius. You can use https://vite.new/vue.
In any case documentation will be added soon.

[2022-03-22 02:14] HusamIbrahim commented on #38
@Baroshem Added nesting in `v0.9.0`. Basic syntax is:

[code]

[2022-03-22 09:07] Guanghua0714 opened #62 "How to use The Google Maps API"
I read your document and source code and found that there is an interface of **Google Maps API** in the source code. **How do I use it**?
thanks!
good luck.

[2022-03-22 09:25] Baroshem commented on #38
@HusamIbrahim This is just great!

Yesterday I managed to create a workaround for the current code to utilize the marker and infowindow like following:

[code]

And today you just added a nested functionality that works even better.

I can now utilize the full functionality. Thank you very much!

I am really happy that I have selected your library instead of others :)

[2022-03-22 09:50] Guanghua0714 commented on #62
Because I want to get altitude by latitude and longitude, so I need to know how to use it, right

[2022-03-22 13:48] eskiesirius commented on #38
It is working now.. it is great!

[2022-03-22 22:26] HusamIbrahim commented on #62
There are several patterns to use the API. Here are some of them.

[code]

[2022-03-23 10:58] Guanghua0714 commented on #62
After reading your reply, I suddenly found that there are related cases in advanced usage, I ignored it, sorry to bother you. Thanks!

发件人: Husam Ibrahim
发送时间: 2022年3月23日 6:26
收件人: inocan-group/vue3-google-map
抄送: Guanghua0714; Author
主题: Re: [inocan-group/vue3-google-map] How to use The Google Maps API(Issue #62)

There are several patterns to use the API. Here are some of them.
<template>
  <Goo

[2022-03-23 23:07] #62 closed

[2022-03-26 12:32] andrisi opened #63 "Document events on GoogleMap component"
This might be something trivial. Docs seems to be missing the description of the GoogleMap component, and perhaps a few examples of reacting changes to the map or clicks by the user? VueDevtools says lat/lng is reactive, but it doesn't actually change as I move the map around. Thanks!

[2022-03-26 12:47] #63 closed

[2022-03-26 15:58] web-programmer-here commented on #38
@HusamIbrahim this is great, thank you 🥇

[2022-03-26 18:39] ZachHandley opened #64 "Uncaught SyntaxError: import not found: InfoWindow"
Hello!

I'm unable to use the InfoWindow import in my project and after looking through the NPM files it doesn't seem it's still in the repo? I'm a bit confused as to why this is happening as it's in the docs still, was this feature removed?

[2022-03-26 18:45] ZachHandley commented on #64
Nevermind, NPM had me on ^.8 - works with .10

[2022-03-26 18:45] #64 closed

[2022-04-04 03:29] tylerclark commented on #23
+1

[2022-04-11 13:47] web-programmer-here commented on #23
@HusamIbrahim any chance you can add this feature too when you have time? thanks

[2022-04-11 14:40] GabSison-MAT opened #65 "Pe {message: 'Map: Expected mapDiv of type HTMLElement but was passed null.'"
Hi,

please can anyone advise on this error.

Pe {message: 'Map: Expected mapDiv of type HTMLElement but was passed null.'}

Is there anything I should be doing to init the map?

[2022-04-12 10:15] HusamIbrahim commented on #65
Hey @metrix-gs

Can you share a reproduction? You can use https://vite.new/vue

[2022-04-22 07:35] adesr opened #66 "Build error: Missing "./dist/types" export in "vue3-google-map" package"
hello,

we tried to build our Vite based app and got this error, is there any workaround to solve this?
thank you

[2022-04-29 05:24] Domi-4102 opened #67 "How to update the center of the map when she is already running ?"
Hi , i tried to edit the property center after initialization but it didn't work

It didn't update if you pass the same value but the view of the map is different.

[2022-05-02 23:12] HusamIbrahim commented on #67
The watcher won't trigger if the value is the same. You'll have to re-center manually I'm afraid.

[2022-05-03 17:22] vesper8 commented on #44
@HusamIbrahim This package needs cluster support so badly.... please can you add it?

[2022-05-04 12:07] HusamIbrahim commented on #44
I'll hopefully take a stab at it this weekend

[2022-05-04 12:10] HusamIbrahim commented on #66
Can you share a minimal reproduction please?

[2022-05-05 03:11] khaledtag98 commented on #67
You can use **panTo** as mentioned in google API to change the center:[https://developers.google.com/maps/documentation/javascript/reference/map#Map.panTo](url)

template :
<GoogleMap
    ref="mapRef"
    api-key="YOUR_GOOGLE_API_KEY"
    style="width: 100%; height: width: 100%"
    :center="center"
    :zoom="11"

 in your script:
if (mapRef.value?.ready) {
          mapRef.value.map.panTo({ lat:

[2022-05-05 03:22] khaledtag98 opened #68 "How to change mapType control position ?"
I need to change the position of mapType buttons on the map view.

There is a solution in google maps API:
[code]
but I don't know how to implement it using this library

any help ?

[2022-05-05 03:56] HusamIbrahim commented on #68
Unfortunately the API isn't available prior to the map's initialization so you can't use that. I looked up `ControlPosition` on DefinetelyTyped and luckily it looks like the position values are just integers:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/google.maps/index.d.ts#L282-L338

So something like this should work:
[code]

You'll have to experiment a bit though as it

[2022-05-05 07:37] khaledtag98 commented on #68
Thank you so much it is working

[2022-05-05 13:51] #68 closed

[2022-05-05 14:15] #67 closed

[2022-05-05 14:18] HusamIbrahim commented on #61
Closing due to inactivity

[2022-05-05 14:18] #61 closed

[2022-05-11 03:32] #44 closed

[2022-05-11 03:47] HusamIbrahim commented on #44
Added in `v0.11.0`. Basic syntax is:
[code]

Documentation to be added soon

[2022-05-11 12:31] vesper8 commented on #44
@HusamIbrahim Thanks for adding this!

I've given it a try and can confirm it is working with regular markers. However it isn't working with custom markers from the `vue3-gmap-custom-marker` library

With regular markers I see the clusters but with the custom markers, which are otherwise working, when I add your `MarkerCluster` then all my custom markers just disappear

[2022-05-11 13:45] RaskaTheFurry opened #70 "Cannot get event from @click in <GoogleMap>"
Hello,
The event @click does fire on click, but when I try to get the event as attribute, it shows me undefined.
@click="foo(e)" and foo(e) is just a simple console log of the event, but I should get MapMouseEvent as it stands in Google Map api, if I understand. I want to get latLng of position my cursor is at.

Can you please help me ?

[2022-05-11 14:42] vesper8 commented on #44
@HusamIbrahim That would be great if you could add custom markers natively.

Previously I was using `gmap-vue` in combination with `vue2-gmap-custom-marker`, and since `gmap-vue` has issues with their native clusters, I was actually pulling in the cluster from `vue2-google-maps`. Seems a bit chaotic.. yet somehow it just worked anyway.

Based on that, I would imagine that it would be possible to m

[2022-05-11 15:30] HusamIbrahim commented on #44
@vesper8 These libraries being forks might explain the compatibility in that case 🙂

I would try reaching out to `vue3-gmap-custom-marker`'s author to see if he can make it work. The readme points to the lack of clustering support in this library but leaves open the possibility of adding support on their end:
https://github.com/eregnier/vue3-gmap-custom-marker#features

Again this is only if you n

[2022-05-11 15:55] vesper8 commented on #44
@HusamIbrahim I bet you could have custom markers implemented in 30 minutes ;-)

[2022-05-12 08:23] RaskaTheFurry commented on #70
Im sorry, im dumb, it was an error on my part.

Thanks for your help

[2022-05-12 12:11] HusamIbrahim commented on #70
No worries. Glad you got it sorted.

[2022-05-12 12:11] #70 closed, assigned to nobody

[2022-05-19 20:06] NathanAP opened #73 "Small question about reactive markers"
Hi,

I was creating some tests in my project, trying to make markers reactive. I reach a point I made this (it is working):

[code]

in issue #56 it was said that we could make `markerPosition` get the entire value again to make it reactive. Is this the right behaviour or it will be changed in the future? Maybe its a good idea to put this in the docs, since most of the components could be changed

[2022-05-19 23:06] #23 closed

[2022-05-20 00:38] HusamIbrahim commented on #23
Added in `v0.12.0`
https://github.com/inocan-group/vue3-google-map#custom-marker

[2022-05-20 00:39] HusamIbrahim commented on #44
@vesper8 Custom markers added in `v0.12.0`
https://github.com/inocan-group/vue3-google-map#custom-marker

[2022-05-20 00:58] HusamIbrahim commented on #73
That's correct @NathanAP we currently don't deep watch options so you'll have to re-assign the value of the root `position` property for the marker to react. It's definitely something we can improve though.

[2022-05-20 12:06] NathanAP commented on #73
All right, no problems with it! I'm asking just because in Vue3 if you change a reactive object it changes in the template as well, so when I was making tests, it seemed that my code was wrong.

Thanks for your dedication with this package, I'm sure I'll make it even better.

[2022-05-20 12:06] #73 closed

[2022-05-20 13:23] web-programmer-here commented on #23
@HusamIbrahim amazing work

[2022-05-20 23:20] jrspitz commented on #26
I've got an single page app that displays a map on some routes,  and on other routes it uses the google maps api without a map (places autocomplete, geocoding).

Ideally, I'd like to initialize the api loader once, and pass around the instance to components as needed.

Would it be possible to pass the loader (or promise) to the GoogleMap component as a prop instead of it creating it's own from the

[2022-05-21 16:58] HusamIbrahim commented on #26
That shouldn't be hard to implement. I'll take a stab at it in the coming days.

[2022-05-23 13:07] mstfkhazaal opened #75 "Add Drwaing Manager"
Add Drwaing Manager

[2022-05-25 09:07] JoseGoncalves opened #76 "Heatmap Layer support"
Do you have any plans to add a component for the [Heatmap Layer](https://developers.google.com/maps/documentation/javascript/heatmaplayer)?

[2022-05-25 23:54] HusamIbrahim commented on #76
Hey @JoseGoncalves

Can't say I have plans for that at the moment. There are a couple of other issues that I'd like to prioritize when I have some free time.
If someone wants to take a stab at a PR I'll be happy to provide support. Otherwise will look into this when I'm done with the higher priority items on my list.

[2022-05-26 00:28] JoseGoncalves commented on #76
No TS skills here, so I'll not be capable of doing a PR... I'm going to add that support in JS for my current needs and (eagerly) wait for a proper implementation from your side...

[2022-05-26 15:45] vesper8 commented on #68
I'm trying to do something similar but I'm trying to change the position of the zoom control. I've been able to do this with no issues using other libraries, but with this one it seems no matter what I do, the zoom control (+ and - buttons) are always positioned in the bottom right corner

I've tried

[code]

And I tried positions from 1 to 11, and nothing seems to make any difference.

Any ideas

[2022-05-26 15:46] vesper8 opened #77 "How to change zoomControl position?"
I'm trying to set the position of the zoom control. I've been able to do this with no issues using other libraries, but with this one it seems no matter what I do, the zoom control (+ and - buttons) are always positioned in the bottom right corner

I've tried

[code]

And I tried positions from 1 to 11, and nothing seems to make any difference.

Any ideas what I'm doing wrong?

https://developers.

[2022-05-26 17:41] HusamIbrahim commented on #77
Hi @vesper8

You should use the `zoomControlPosition` prop:
https://github.com/inocan-group/vue3-google-map/blob/develop/src/components/GoogleMap.vue#L210-L213

Example:
[code]

[2022-05-26 17:58] HusamIbrahim commented on #68
@vesper8 Agreed there's an inconsistency in the API in that area. The other controls allow you to set the position directly. For example:
[code]
It made sense to pass the position directly for the other controls because their options interface only has a `position` property (for example `ZoomControlOptions`). Unfortunately I couldn't do the same for the mapType control because `MapTypeControlOptio

[2022-05-28 09:44] #26 closed

[2022-05-28 11:05] HusamIbrahim commented on #26
@jrspitz Added this in `v0.13.0`. You can now pass a promise through the `apiPromise` prop which should resolve to the global `google` object. Example:
https://stackblitz.com/edit/vitejs-vite-mgwr2y?file=src/components/HelloWorld.vue

[2022-05-30 07:54] teguhsatria892 opened #79 "Fit Bounds for Polygon"
how i can fit bounds for polygon??

[2022-05-30 09:01] teguhsatria892 commented on #79
`      centerPolygonMiniMap(){
            var bounds = new window.google.maps.LatLngBounds();

            this.googleMapMiniData.polygonDataList[0].paths.forEach(path=> {
                bounds.extend(path)
            })

            console.log(this.$refs.googleMapMiniDetail)
            this.$refs.googleMapMiniDetail.map.fitBounds(bounds)
      },`

      googleMapMiniDetail is reff

      th

[2022-05-30 09:01] #79 closed

[2022-05-30 17:48] #77 closed

[2022-05-31 13:47] RaskaTheFurry opened #80 "Lag with huge amount of markers"
We are trying to kinda limit test this component, so we have a huge cluster of markers in one area ( about 4500 ). The loading is of course slow, but that is expected. What is the problem is, that when trying to move the map, its very laggy, almost unusable. Marker clusters help, when viewing from further distance, but it adds to load time quite some and it lags a lot when at certain zoom, even wh

[2022-05-31 18:14] HusamIbrahim commented on #80
Hi @RaskaTheFurry

We have a dependency on `@googlemaps/markerclusterer` and it seems they introduced some changes to their default clustering algorithm that cause perf issues with a large number of markers:
https://github.com/googlemaps/js-markerclusterer/issues/136
Perhaps you can use the old implementation to define your own algorithm and pass that in through `options`. Or if you use yarn or pn

[2022-06-01 11:30] HusamIbrahim commented on #53
Closing due to inactivity

[2022-06-01 11:30] #53 closed

[2022-06-05 20:01] chemeng commented on #76
Hi @JoseGoncalves, did you get this working using the package (accessing some underlying component/reference) or through the plain vanilla JS implementation?

[2022-06-06 08:34] JoseGoncalves commented on #76
Hi @chemeng, still did not hat time to address this... nevertheless, my idea is simply to use the [Advanced Usage](https://vue3-google-map.netlify.app/advanced-usage/) third pattern as a base to initialize and use the Google's [Heatmap Layer](https://developers.google.com/maps/documentation/javascript/heatmaplayer).

[2022-06-14 05:36] flect-endo opened #81 "css transition support for CustomMarker"
Do you have any plans to add a `transition` option for the `CustomMarker`?

I want to move the marker position smoothly from its old location.
As far as we know, the native `google.maps.Marker` does not do that.
`CustomMarker` use [custom overlays](https://developers.google.com/maps/documentation/javascript/customoverlays) and can handle HTML elements, so I think that css transitions can be used t

[2022-06-15 00:37] flect-endo commented on #81
@HusamIbrahim

Thank you for showing me how to do this.
I think I can achieve what I want to do this way.

I tried this way.
It seems that `google.maps.OverlayView#draw` method is called not only when the marker position changes, but also when the map bounds changes. In both cases, the transition seemed to take effect.
Therefore, some adjustments may be necessary

Anyway, I feel that my request do

[2022-06-15 05:39] #81 closed

[2022-06-17 14:09] harshgntr08 opened #82 "Is there a way to show the infoWindow on hover?"
Hi @HusamIbrahim,
Firstly thank you creating a google maps component for vue 3.

I am experimenting to figure out if we can have the infoWindow popup on hover insider a Marker. Any chance that you could help with this?

[2022-06-17 19:47] itsjms opened #83 "Can you access the Marker class instance from a CustomMarker somehow?"
I have a CustomMarker in Vue3. I am trying to access the Marker class upon hovering on a CustomMarker so I can set the zIndex to a higher value. Is this possible?

[2022-06-17 22:11] #83 closed

[2022-06-17 22:12] itsjms commented on #83
My solution to this was to create another component that embeds CustomMarker and takes a slot. I can then dynamically apply zIndex option as needed.

[2022-06-17 22:12] itsjms commented on #83
[code]

[2022-06-17 22:21] HusamIbrahim commented on #83
@itsjms I suspect you can just use a class on the custom marker that sets `z-index` on hover. Something like this:

[code]

[2022-06-18 06:09] harshgntr08 commented on #82
Ah, okay. Thank you for the quick response @HusamIbrahim

[2022-06-18 15:00] #82 closed

[2022-06-23 18:44] tlhunter opened #84 "<MarkerCluster> forces re-renders as <Marker> elements change"
I have an application using this package to display maps and markers. Up until now it displayed the markers directly on the screen without clustering. The app uses a `v-for` to display a list of `Marker` elements. It also uses a `v-bind:key` on the `Marker` elements so that when the user pans and elements are replaced, markers that were previously drawn aren't redrawn.

Here's an example of the ma

[2022-06-23 20:17] tlhunter opened #85 "<CustomMarker> throws "Failed to execute 'insertBefore' on 'Node'" when updating array"
vue: 3.2.6 and 3.2.7
vue3-google-map: 0.13.0

I'm having an interesting issue with `CustomMarker`s when altering a list of them and displaying them on a map. In certain situations they will throw an error when being redrawn. In my app's case, panning the map makes a network request based on the new location, and marker data is returned from the client. The client then updates an array of locations

[2022-06-24 16:26] ValiDrv opened #86 "Build errors: Vue 3's render function API has changed. You can opt-in to the new API"
I think there is something wrong in the `0.13.0` build. with Vue3, VIte and @vue/compat (upgrading app from vue2 to vue3)

If I use `"vue3-google-map": "^0.13.0"` from npm I can't render the default example. (see errors bellow)

But if I download the source and point the `vue3-google-map` alias to the downloaded `/src` folder while `"vue3-google-map": "^0.13.0"` is installed, the page renders corr

[2022-06-24 18:18] ValiDrv opened #87 "InfoWindow with slot gives insertBefore TypeError errors."
There seems to be an issue with removing components that use `<slot />`

This will work:
[code]

This will give errors:
[code]

Errors:
[code]

Seems to be the case for `CustomMarker` also (gives the error when computed

This works: `<Marker v-for="m of markers" :options="m.options" :key="m.id">...</Marker>`
This gives errors: `<CustomMarker v-for="m of markers" :options="m.options" :key="m.id">..

[2022-06-24 20:58] HusamIbrahim commented on #84
Hi @tlhunter

Would you be able to share a minimal reproduction on [vite.new/vue](https://vite.new/vue)?
Also does the issue occur when you cluster one type of marker or is it only when you mix markers/custom markers?

[2022-06-24 21:04] HusamIbrahim commented on #85
Can you share a minmial reproduction @tlhunter? You can use [vite.new/vue](https://vite.new/vue)

[2022-06-24 21:07] HusamIbrahim commented on #87
Hey @ValiDrv

Can you share a minimal reproduction? You can use [vite.new/vue](https://vite.new/vue)

[2022-06-24 21:21] HusamIbrahim commented on #86
Hey @ValiDrv

I'm afraid this library hasn't been tested with the compat build. We have our own custom build script mainly because this library was created quite a while before other solutions existed such as [Vite's Library Mode](https://vitejs.dev/guide/build.html#library-mode). Our intention is to migrate to that solution which might provide better compatibility with Vue's different builds and

[2022-06-24 21:37] tlhunter commented on #85
Seems a little buggy
![2022-06-24_14-37-22](https://user-images.githubusercontent.com/551402/175696249-549fbc40-3829-4df7-b0fc-48bd0fd57c14.png)

[2022-06-24 21:59] HusamIbrahim commented on #85
@tlhunter I haven't encountered issues with StackBlitz before but you can alternatively share a CodeSandbox or a link to a repo

[2022-06-24 23:18] tlhunter commented on #85
@HusamIbrahim I think I had encountered a bug with StackBlitz where the node_modules directory was initially created but was blown away upon registering an account... But, I was able to get a reproduction working.

### Reproduction

https://stackblitz.com/edit/vitejs-vite-4y4hkq?file=src%2Fmain.js,index.html,package.json,src%2FApp.vue&terminal=dev

As an overview: The code draws a map with 200 cus

[2022-06-24 23:21] tlhunter commented on #87
@ValiDrv does this look like it might be the same as #85?

[2022-06-24 23:24] tlhunter commented on #84
A reproduction for this is attached to issue #85, in the performance section of this comment: https://github.com/inocan-group/vue3-google-map/issues/85#issuecomment-1166060834

[2022-06-25 00:01] ValiDrv commented on #87
Looks like it, but I didn't try that area l array push pop, I had it with a computed property that returned an array, or an object.

I'll make some test cases for you tomorrow. ( Just to make sure it's not related to vite )

[2022-06-25 10:56] HusamIbrahim commented on #85
Thanks for the repro and detailed report @tlhunter. I'll hopefully take a closer look in the coming days.

[2022-06-25 14:01] ValiDrv commented on #87
Here is a test project:

[https://stackblitz.com/edit/vitejs-vite-wfqrqh?file=src/App.vue](https://stackblitz.com/edit/vitejs-vite-wfqrqh?file=src/App.vue)

What I found, is that if you close the `InfoWindow` via it's X button AND you have `MarkerCluster`/`CustomMarkers`/`Marker` on the map, you get that error.

If you use vue to show/hide it using `v-if`, then it doesn't give the error.

The same

[2022-06-25 19:43] HusamIbrahim commented on #87
Tentatively labeling this as a bug until I can take a closer look

[2022-06-27 16:54] tlhunter commented on #87
This sounds a lot like what I'm seeing in #85. I suspect these two issues may have the same root cause.

[2022-06-27 22:15] HusamIbrahim commented on #84
This is coming from upstream. Removing marker(s) will cause `MarkerClusterer` to recalculate and redraw all clusters:
https://github.com/googlemaps/js-markerclusterer/blob/993ef85d6f0f58fc66715160c4f81423561ed038/src/markerclusterer.ts#L119-L135

[2022-06-27 23:02] HusamIbrahim commented on #85
This should be fixed in `v0.13.1`. Let me know if the issue persists or if you encounter other issues.

[2022-06-28 13:21] ValiDrv commented on #87
In preliminary tests it looks like it's working, thank you.

[2022-06-28 14:51] ValiDrv commented on #86
By the way, your version 0.13.1 fixed some paths or something, since it builds correctly.

Pretty sure it's something with the paths to the dist folder or something along those lines.

The only was I could build it before was with `"vue3-google-map": "^0.13.0"` node_modules installed, and the source code downloaded somewhere else, plus vite resolve alias pointing to the source code (which was poin

[2022-06-28 16:53] HusamIbrahim commented on #86
hmm this is odd. The only difference this time was that I built and published manually since the CI/CD pipeline failed to publish the new version for some reason after building. Haven't had time to investigate this but what it does is exactly the same as what I did locally.
I'm closing this for now. If you encounter the issue again let me know.

[2022-06-29 01:35] lightman0215 opened #89 "findPlaceFromQuery is not a function"
HTML Code
`<GoogleMap ref="dianzhuangMap" id="Mapdian" @click="getStations" :language="$i18n.locale" :key="dataForm.name" api-key="AIzaSyAU9sDf9Nc1IJjCKqEfcAM-obouMK_eodY" style="width: 100%; height: 700px" :center="center" :zoom="10">
      <Marker :options="{ position: { lat: dataForm.latitude, lng: dataForm.longitude } }" />
    </GoogleMap>`

Vue：
`const service = this.$refs.dianzhuangMap.api.

[2022-06-29 03:30] HusamIbrahim commented on #89
Hi @lightman0215

I think you'll first need to instantiate `PlacesService`:
https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.constructor

Something like this:
[code]

[2022-06-30 16:17] ValiDrv opened #90 "<MarkerCluster>, <CustomMarker> & <InfoWindow> forces re-renders as elements change"
Very similar to issue #84 but different/might shed some light on how to fix.

The map seems to re-render on pretty much any iteration/change.
This causes the markers to re-render, and clusters to re-calculate in a loop.

Problem is, it does it even when you interact with something that does not impact it.

Example:
- I enabled `SuperClusterAlgorithm` loging.
- I have a `<InfoWindow>` outside all `

[2022-06-30 17:51] HusamIbrahim commented on #90
On the specific issue of a large number of markers there seems to be some perf issues with `SuperClusterer` in newer versions of `googlemaps/markerclusterer`. You can refer to this comment https://github.com/inocan-group/vue3-google-map/issues/80#issuecomment-1142462934 for context. Switching to a different algo or pinning that library to an older version might help

[2022-06-30 18:43] ValiDrv commented on #90
I'm 100% sure it's not related to that (SuperClusterAlgorithm math).

Every time something interacts with the `GoogleMap.vue`, the `CustomMarker.vue` gets re-rendered so `element: customMarkerRef.value` can be used in `CustomMarker.draw()` from `/utils/index.js.`, even if we only need to draw a few of them.

Example:
Say we have 4 CustomMarker on screen and 1000 of them total displayed via `v-for`

[2022-06-30 19:16] ValiDrv commented on #90
For example:
If you hack CustomMarker.vue to use some plain HTML passed to it, instead of use the slot, everything works perfectly, no more lag.

[2022-06-30 20:28] ValiDrv commented on #90
I'll look into it also.
But the draw doesn't get called for every marker, only the ones that should show. In my case, it gets called 4 times, but the component renders 1000 times.

[2022-06-30 23:31] #84 closed

[2022-07-10 05:41] aungmyaethit opened #91 "How to get the latitude and longitude ."
Hello Sir ,
I want to get the latitude and longitude  when I click on the map in state of vue . How can  I do that?

[2022-07-10 17:14] HusamIbrahim commented on #91
Hi @aungmyaethit

You can listen to a `click` event on the map. Example:
https://stackblitz.com/edit/vitejs-vite-4tdpur?file=src%2Fcomponents%2FHelloWorld.vue&terminal=dev

You get a `MapMouseEvent` in your event handler that contains `latLng` which has `lat` and `lng` getter functions:
https://developers.google.com/maps/documentation/javascript/reference/map#MapMouseEvent

[2022-07-10 17:15] #89 closed

[2022-07-10 22:26] aungmyaethit commented on #91
Hi @HusamIbrahim

Thank you so much for  answer, It really support me.

[2022-07-11 16:59] #91 closed

[2022-07-13 07:15] cullenmarcels opened #92 "Does <Polyline> not support custom icon settings?"
[code]
error:  google is not defined
i can't find a way to customize setting icon at < Polyline >

[2022-07-14 02:14] cullenmarcels commented on #92
tks！

[2022-07-14 04:09] #92 closed

[2022-07-26 10:39] JoseGoncalves commented on #76
@HusamIbrahim Any idea when you'll have time to implement this feature?

[2022-08-10 17:47] S2AON opened #93 "Themes Types imports with incorrect path"
I have a vite base project, and when I try to build the app there is an error referring to the import of the themes
that have an incorrect path.

"Cannot find module '../themes/index' or its corresponding type declarations.
2 import * as themes from "../themes/index";"

![image](https://user-images.githubusercontent.com/26665761/183981208-8bd12301-ad06-4a28-a516-2e5d84005e66.png)

I solved the iss

[2022-08-10 20:53] HusamIbrahim commented on #93
Hi @S2AON

Would you be able to provide a minimal reproduction? I tried building an arbitrary the vite project with the library included and couldn't reproduce this.

[2022-08-10 20:54] HusamIbrahim commented on #76
Hello @JoseGoncalves

Apologies for the late response. Things were quite busy at work and in my personal life these last couple of weeks. I'll take a stab at this soon hopefully.

[2022-08-11 17:03] web-programmer-here opened #94 "Using infowindow inside a custom marker?"
I was following this doc
https://vue3-google-map.netlify.app/components/info-window.html#use-with-marker

but looks like `<InfoWindow>` doesnt work with `<CustomMarker>` ? how can I call the infowindow when using custom marker component?

[2022-08-11 19:28] web-programmer-here opened #95 "How to use pixelOffset option?"
using the js for Google map, pixelOffset for info window is set like this:

[code]

is it possible to use this option in InfoWindow component?

[2022-08-11 20:02] web-programmer-here commented on #95
had to do `if (mapRef.value?.ready) {` and it is now good

[2022-08-11 20:02] #95 closed

[2022-08-12 03:53] #94 closed

[2022-08-24 20:43] #76 closed

[2022-08-24 21:17] HusamIbrahim commented on #76
Added in `v0.14.0`. Documentation to be added soon but basic syntax is:

[code]
Note that for convenience you can pass an array of plain lat/lng object literals instead of [LatLng](https://developers.google.com/maps/documentation/javascript/reference/coordinates?hl=en#LatLng) class instances (you can pass those too or mix object literals with `LatLng` instances in the data array if you wish).

Let

[2022-08-26 09:52] JoseGoncalves commented on #76
Hi @HusamIbrahim. Thanks, I'll test that in the next week.

[2022-08-26 11:49] mazin01 opened #97 "hide controls"
How to hide all controls like full screen button and map type

[2022-08-26 12:03] mazin01 commented on #97
I used `disableDefaultUi` attribute

[2022-08-26 12:03] #97 closed

[2022-08-29 02:33] #93 closed

[2022-08-29 15:02] alessandrorubio opened #98 "@types/vue3-google-map availability"
Currently no component is being found using typescript and composition API. For instance this is my code:
[code]
Is this package usable for vue components using typescript?

[2022-08-30 13:30] JoseGoncalves commented on #76
Hi @HusamIbrahim. I've tested this and, while it's working, I get some warnings on the browser console:

![Screenshot from 2022-08-30 14-25-10](https://user-images.githubusercontent.com/3037740/187449480-2ae2e101-e441-4b60-911d-2d183b9c5453.png)

You can check a demo project were these warnings occur at:
* https://github.com/JoseGoncalves/vue-google-maps/tree/heatmap

[2022-08-31 18:37] HusamIbrahim commented on #76
Thanks for reporting @JoseGoncalves. Will look into it.
Feel free to create an issue if you wish.

[2022-08-31 19:15] HusamIbrahim commented on #98
Hi @alessandrorubio

Yes it should be usable with typescript. If you're having issues make sure to include `@types/google.maps` in your `devDependencies`.

[2022-08-31 21:05] HusamIbrahim commented on #76
Fixed in `v0.14.1`

[2022-09-04 16:58] RamoFX commented on #94
Did you solve it? If so, how did you do that?

[2022-09-04 18:17] web-programmer-here commented on #94
@RamoFX i used the regular marker

[2022-09-05 17:59] #98 closed

[2022-09-05 18:16] alessandrorubio opened #99 "Provide custom loader instance"
I was wondering if instead of providing the API_KEY directly in the googleMap component there is a way to provide my own loader instance that is being used in my custom component.

[2022-09-05 19:03] HusamIbrahim commented on #99
You can now pass a promise through the `apiPromise` prop which should resolve to the global `google` object. Example:
https://stackblitz.com/edit/vitejs-vite-mgwr2y?file=src/components/HelloWorld.vue

[2022-09-06 13:31] #99 closed

[2022-09-07 13:10] alessandrorubio opened #100 "Automatic zoom and bound customization with map.fitbound"
Is it there a method/prop that allows to use map.fitbound from google maps api?

[2022-09-07 16:09] HusamIbrahim commented on #100
Hi @alessandrorubio

We don't expose that functionality through our API. You'll have to use the native API instead to manually invoke `map.fitBounds`. Refer to the [advanced usage](https://github.com/inocan-group/vue3-google-map#advanced-usage) section in the docs for some usage patterns.

[2022-09-07 21:36] #100 closed

[2022-09-15 07:10] teguhsatria892 opened #101 "Merge list of Polygon"
i have list of polygon on my data, how to merge it become to one polygon?

[2022-09-16 01:22] centratelemedia opened #102 "Custom Overlay"
howto add custom overlay like Openstreetmap, Bing Map?

[2022-09-16 11:11] HusamIbrahim commented on #102
Hey

Don't know if you've seen the google official docs on [custom overlays](https://developers.google.com/maps/documentation/javascript/customoverlays). Refer to the [advanced usage](https://github.com/inocan-group/vue3-google-map#advanced-usage) section in the readme to learn how you can attach your overlay view to the map.

[2022-09-18 07:26] hengseyha opened #103 "Google map doesn't show map controller And drag moving on map not working properly?"
Please help, google map doesn't show map control

[2022-09-18 16:26] HusamIbrahim commented on #103
Can you please share a reproduction? You can use https://vite.new/vue

[2022-09-18 16:26] #102 closed

[2022-09-19 14:13] hengseyha commented on #103
Hi @HusamIbrahim ,

Please check the link here:
https://camrealtyfrontend.web.app/

And drag on map also not working properly. Can you check this also?

[2022-09-19 18:39] HusamIbrahim commented on #103
TypeScript shouldn't be a problem. Can you share a minimal reproduction on StackBlitz or CodeSandbox (or even a repo)? Without that I can't help much I'm afraid.

[2022-09-20 11:28] hengseyha commented on #103
Let me prepare this.

[2022-10-03 05:06] teguhsatria892 opened #104 "Theme not work"
I got warning about styles

Invalid prop: type check failed for prop "styles". Expected Array, got String with value "aubergine"

[code]

whats wrong about this code?

Sample code
https://codesandbox.io/s/vue3-google-map-demo-forked-6wrdh5?file=/src/App.vue

I using developer mode API google map

[2022-10-03 10:00] HusamIbrahim commented on #104
Hi @teguhsatria892

Please make sure you're using the latest version. Themes should now be imported from `vue3-google-map/themes` and passed through the `styles` prop. Example:
https://codesandbox.io/s/vue3-google-map-demo-forked-7hriki?file=/src/App.vue

Note that you'll need an API key for themes to work correctly

[2022-10-03 10:33] teguhsatria892 commented on #104
thanks a lot, i will try

[2022-10-03 10:33] #104 closed

[2022-10-04 16:35] smissaertj opened #105 "Access the latLng property of the google.maps.MapMouseEvent interface"
When I click on the map, I want to capture the underlying coordinates to set a Marker at that position later on. It's not clear to me how can I access the `latLng` property of the `google.maps.MapMouseEvent` interface?

https://developers.google.com/maps/documentation/javascript/reference/map#MapMouseEvent

Example here:
https://developers.google.com/maps/documentation/javascript/examples/event-cl

[2022-10-04 21:22] HusamIbrahim commented on #105
Hi

Please refer to https://github.com/inocan-group/vue3-google-map/issues/91#issuecomment-1179765783

[2022-10-04 21:22] #105 closed

[2022-10-09 07:29] hengseyha opened #106 "Can we Set minimum size for cluster ?"
Can you please help me set the minimum cluster size?

[2022-10-10 13:48] vladyslav-mikhieiev commented on #80
Here the example

`import {GridAlgorithm} from "@googlemaps/markerclusterer"`

Cluster options:
`const clusterOptions = {
    algorithm: new GridAlgorithm({gridSize: 50})
}`

Vue
`<MarkerCluster :options="clusterOptions">your markers</MarkerCluster>`

[Typescript docs: MarkerClustererOptions](https://googlemaps.github.io/js-markerclusterer/interfaces/MarkerClustererOptions.html)

[2022-10-11 07:45] chemeng commented on #76
Got it, makes sense. Will probably try the same thing in the next few days.

On Jun 6, 2022, at 11:34 AM, José Miguel Gonçalves ***@***.******@***.***>> wrote:

Hi @chemeng<https://github.com/chemeng>, still did not hat time to address this... nevertheless, my idea is simply to use the Advanced Usage<https://vue3-google-map.netlify.app/advanced-usage/> third pattern as a base to initialize and use

[2022-10-11 09:12] chemeng commented on #76
Yes, thank you, we've started using it.

[2022-10-11 23:35] spaceworkplatform commented on #75
Any progress on that or a hack how to add it ?

[2022-10-12 18:25] HusamIbrahim commented on #106
Not sure what you mean @hengseyha . Maybe you can elaborate.

[2022-10-19 14:49] hengseyha commented on #106
I mean that I want to show the icon cluster when the map icon is close together by a specific amount. example 100 map icons.

[2022-10-19 17:16] HusamIbrahim commented on #106
We use `@googlemaps/markerclusterer` to create these clusters. I suppose you can create a [custom clustering algorithm](https://googlemaps.github.io/js-markerclusterer/interfaces/MarkerClustererOptions.html#algorithm) and use that but I'm afraid this feature isn't supported out of the box.

[2022-10-26 23:27] dsumah opened #107 "Create bounds passed on flightPath"
Hi guys. How do I go about setting the correct bounds for my map? What I am trying to achieve is a situation where my polyline fits or almost fits the screen.

It wil be nice if someone can point to where the docs speaks about setting bounds

<img width="511" alt="Capture d’écran 2022-10-27 à 12 25 29 AM" src="https://user-images.githubusercontent.com/106399477/198157198-b4d6fd39-e685-414a-ada9-

[2022-10-27 00:59] Mastersam07 commented on #107
Not sure this is supported out of the box. You will have to use the native api to fit bounds. You could check the [advanced usage](https://github.com/inocan-group/vue3-google-map#advanced-usage) section of the docs.

[code]

in the above, mapRef is the reference to your google map(see [advanced usage](https://github.com/inocan-group/vue3-google-map#advanced-usage))

If you have a list of LatLng va

[2022-10-27 10:46] #107 closed

[2022-11-05 17:39] andrisi opened #108 "Example with map styling & language options"
Could you add an example where the map is styled with an array inside the options.styles? Or the cloud based styling. I can't seem to get it working, seems like the options don't get through. Same for map language. Thanks a lot.

[2022-11-06 11:54] agnaldo111 commented on #1
Is there a way, to catch the polyline points changed ?

[2022-11-06 13:19] RustyJoeM opened #109 "SameSite cookie complaint from chrome browser when using google's icons for markers"
Hello,

when using the vue3-google-map plugin inside my SPA frontend app, i keep getting errors/warnings in developer console:

e.g. for:
[code]

being frontend beginner, I am not sure if i understand the core of issue properly, but i believe that:
 - this plugin should allow/be able to change the cookies/headers settings for it's internal requests for icons being requested from "different" domain

[2022-11-13 20:24] ralbear opened #110 "Closing other `<InfoWindow>`"
Hi

I have few markers with a `<InfoWindow>` on it. How can I close the open `<InfoWindow>` when I click on the map or open other `<InfoWindow>`?

Thanks :)

[2022-11-16 09:20] hengseyha commented on #106
@HusamIbrahim I cannot make it works, can you please help to provide me some clue to do this?

[2022-11-16 09:35] HusamIbrahim commented on #108
Hi @andrisi

See this example:
https://codesandbox.io/s/vue3-google-map-demo-forked-7v7t4s?file=/src/App.vue

Note that you'll need an API key for the styling to work

[2022-11-16 10:03] HusamIbrahim commented on #110
Hi @ralbear

You'll have to manually control the info windows through refs.

[2022-11-16 10:04] HusamIbrahim commented on #65
Closing due to inactivity

[2022-11-16 10:04] #65 closed

[2022-11-16 10:04] HusamIbrahim commented on #66
Closing due to inactivity

[2022-11-16 10:04] #66 closed

[2022-11-17 06:24] v587jing opened #111 "Hello, how should I manually control the display and hiding of infoWindow"

[2022-11-18 10:25] francoromanol opened #112 "Can we set Marker Cluster options?"
Hi there,

Is it possible to pass an object with this options? I don't see it in the component API.

<img width="770" alt="image" src="https://user-images.githubusercontent.com/68303277/202679964-ee63ec80-b39e-4351-89a1-cb09e939be4d.png">

Regards,

[2022-11-18 11:13] #110 closed

[2022-11-18 11:13] #108 closed

[2022-11-18 11:16] HusamIbrahim commented on #111
You can add a ref to your InfoWindo component then you'll have access to `infoWindow` which is the info window instance. Then you can control it through the `open` and `close` methods.

[2022-11-18 11:16] #111 closed

[2022-11-18 11:41] andrisi commented on #108
thanks! @HusamIbrahim

[2022-11-18 13:20] francoromanol commented on #112
Hi @HusamIbrahim , thanks for the response. I found a way to do it with ref and computed.

One last question, is it possible to use InfoWindow inside CustomMarker? Its not working for me.

Regards

[2022-11-19 07:58] ralbear commented on #110
Thanks for the response, will give a try!

[2022-11-19 08:30] v587jing opened #113 "You actually deleted the question raised by the developer! my god"

[2022-11-19 08:45] HusamIbrahim commented on #113
Not sure what you mean. Please elaborate.

[2022-11-19 08:58] HusamIbrahim commented on #112
No this isn’t supported unfortunately.

[2022-11-21 01:17] #113 closed

[2022-11-22 03:03] guhao1129 opened #114 "how to use direciton function"
google map javascript api have direction，StreetView and Places functions, how can i use this function with this compants?
thankyou

[2022-11-26 12:48] HusamIbrahim commented on #114
Hi @guhao1129

We don't have convenience apis for these functions. You might be able to hook them up yourself using some of the patterns here:
https://github.com/inocan-group/vue3-google-map#advanced-usage

If you need to use another library for these features specifically you can load the Google Maps javascript API externally and pass a prop so as to not load the script twice. See this for an exa

[2022-11-26 20:33] andrisi opened #115 "documentation for the GoogleMap component and its events"
Sorry if I'm blind, but somehow I can't find the docs for the GoogleMap component and its events, only the things that you can put on it, like Marker, Polyline, etc. Could you point to the docs, or add it. Thanks!

[2022-11-27 19:00] HusamIbrahim commented on #115
Hi @andrisi

You're right we need to document that. And I'm noticing some changes in the API (deprecated events and some new ones we need to add). In any case these are the events you can listen for currently:
https://github.com/inocan-group/vue3-google-map/blob/develop/src/components/GoogleMap.vue#L10-L30